body{
    background-color:#f6f3f2 !important;
}
/*CSS Header panel*/
.headPanel {
    background-color:#4086f9;
    width: 100%;
    height: 50px;
    box-shadow: 0px 5px 5px #888888;
    color: white;
    font-family: Arial;
    font-size: medium;
    font-weight: bold;
    position:fixed;
    z-index:35;
}

.headPanel i{
    color:white;
}

.contentPanel {
    height: 45px;
    padding-top:2px;
    padding-left:5px;
}

.leftPanel {
    width: 10%;
    float: left;
    padding-top: 6px;
}

.first a:hover, .last a:hover {
    background-image: url(../images/bc_env.png);
    background-repeat: repeat-x;
}

.centerPanel {
    width: 34%;
    float: left;
    padding-top: 15px;
    font-size: smaller;
    color: #e1e3e4;
}

.btnMenu {
    background-color: transparent;
    border: unset;
    float: right;
}

.rightPanel {
    width: 55%;
    float: right;
    padding-top: 6px;
    padding-right: 5px;
}

    .rightPanel ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
    }

    .rightPanel li {
        padding-right: 5px;
        float: right;
    }

    .rightPanel ul li a {
        display: block;
        float: right;
        width: 40px;
        text-decoration: none;
        text-align: center;
        /*pour avoir un effet "outset" avec IE :*/
    }

        .rightPanel ul li a:hover {
            border: 1px solid;
            border-color: #696969 #DCDCDC #DCDCDC #696969;
        }


/***********************************************/

.my_btn{
    width: 65px;
    height: 65px;
    background: #fb2e7b;
    box-shadow: 2px 2px 8px #aaa;
    font: bold 22px Arial;
    border-radius: 50%;
    color: #fff;
    position:fixed;
    z-index:35;
}

.my_btn1 {

    bottom:5px;
    right:30px;
}

.my_btn2 {
    bottom:5px;
    left:10px;
}

