
element.style {
}

.row {
    margin-left: -5px;
    margin-right: -5px;
}
div {
    display: block;
}

body {
    color: #212121;
    font-family: 'Open Sans',sans-serif;
    -webkit-font-smoothing: antialiased;
     line-height: 1.428571429;
     font-size: 12px;
}
html {
    -webkit-tap-highlight-color: transparent;
}
.infographic-box.colored {
    color: #fff;
    border: 0!important;
    border-top-color: initial;
    border-top-style: initial;
    border-top-width: 0px;
    border-right-color: initial;
    border-right-style: initial;
    border-right-width: 0px;
    border-bottom-color: initial;
    border-bottom-style: initial;
    border-bottom-width: 0px;
    border-left-color: initial;
    border-left-style: initial;
    border-left-width: 0px;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
}
.infographic-box {
    padding: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}
.emerald-bg {
    background-color: #3bae5c!important;
}
.green-bg {
    background-color: #0094ff !important;
}
.red-bg {
    background-color: #ff6a00 !important;
}
.purple-bg {
    background-color: #46c0e8 !important;
}

.main-box {
    margin-bottom: 10px;
}
.main-box {
    background: #FFFFFF;
    background-image: initial;
    background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    background-repeat-x: initial;
    background-repeat-y: initial;
    background-attachment: initial;
    background-origin: initial;
    background-clip: padding-box;
    box-shadow: 0px 1px 1px rgba(0,0,0,0.1);
    border-radius: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    background-clip: padding-box;
}
.infographic-box.colored .headline {
    font-size: 1em;
    font-weight: 600;
    margin-bottom: 4px;
}
.infographic-box .headline {
    display: block;
    font-size: 1.2em;
    font-weight: 300;
    text-align: right;
}
.infographic-box.colored {
    color: #fff;
}
* {
    box-sizing: border-box;
}
.infographic-box .value {
    font-size: 2.1em;
    font-weight: 600;
    margin-top: -5px;
    display: block;
    text-align: right;
}
.fa-dollar{
    content: "\f0e0";
}
.fa-bell{
    content: "\f0d6";
}
.fa-check{
    content: "\f007";
}
.fa-times{
    content: "\f0ac";
}
.col-lg-3,.col-xs-12{
    padding-left: 5px;
    padding-right: 5px;
}
.col-lg-3,.col-xs-12{
    padding-left: 8px;
    padding-right: 8px;
    position: relative;
    min-height: 1px;
}

table {
  border-collapse: separate;
  border-spacing: 0 5px;
}

thead th {
  background-color: #0094ff;
  color: white;
}

tbody td {
  background-color: #EEEEEE;
}

tr td:first-child,
tr th:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

tr td:last-child,
tr th:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}