
<br />

<form class="form-horizontal">
    <fieldset>
       <legend><center>S'abonner</center></legend>
        <!-- reference input-->
        <div class="form-group">
            <div class="col-sm-4">
                <center><input id="ref" name="ref" type="number" placeholder="Entrer votre référence " class="form-control2 input-sm" required="" ng-model="ref"></center>

            </div>
        </div>
        <!-- email input-->
        <div class="form-group">
            <div class="col-sm-4">
                <center><input id="email" name="email" type="email" placeholder="Entrer votre adresse email" class="form-control2 input-sm" required="" ng-model="login"></center>

            </div>
        </div>
        <!-- cin input-->
        <div class="form-group">
            <div class="col-sm-4">
                <center><input id="cin" name="cin" type="number" placeholder="Entrer votre CIN" class="form-control2 input-sm" required="" ng-model="cin"></center> 

            </div>
        </div>
        <!-- telephone input-->
        <div class="form-group">
            <div class="col-sm-4">
             <center>   <input id="tel" name="tel" type="tel" placeholder="Entrer votre numéro de téléphone" class="form-control2 input-sm" required="" ng-model="tel"></center> 

            </div>
        </div>

        <!-- Password input-->
        <div class="form-group">
            <div class="col-sm-4">
              <center>  <input id="password" name="password" type="password" placeholder="Entrer votre mot de passe" class="form-control2 input-sm" required="" ng-model="mdp"></center> 

            </div>
        </div>


        <!-- Button -->
        <div class="form-group">
            <div class="col-sm-4">
                <center><button id="signup" name="signup" class="btn btn-success" ng-click="create()">Valider</button></center>
            </div>
        </div>
    </fieldset>
</form>
