

<h1>Encours</h1> 
<div class="row">
    <div class="col-xs-3 col-sm-6 ">
        <a href data-toggle="modal" data-target="#modalImpayees" data-whatever="@mdo">
            <div class="main-box infographic-box colored emerald-bg">
                <i class="fa fa-dollar"></i>
                <span class="headline">Factures impayées</span>
                <span class="value">12</span>
            </div>
        </a>
    </div>
    <div class="col-xs-3 col-sm-6 ">
        <a href data-toggle="modal" data-target="#modalReclamationEncours" data-whatever="@mdo">
            <div class="main-box infographic-box colored red-bg">
                <i class="fa fa-check"></i>
                <span class="headline">Réclamations Encours</span>
                <span class="value">12</span>
            </div>
        </a>
    </div>
    <div class="col-xs-3 col-sm-6 ">
        <a href data-toggle="modal" data-target="#modalNotification" data-whatever="@mdo">
            <div class="main-box infographic-box colored green-bg">
                <i class="fa fa-bell"></i>
                    <span class="headline">Notification Non lues</span>
                    <span class="value">12</span>
            </div>
        </a>
    </div>
    <div class="col-xs-3 col-sm-6">
        <a href data-toggle="modal" data-target="#modalReclamationRejetees" data-whatever="@mdo">
            <div class="main-box infographic-box colored purple-bg">
                <i class="fa fa-times"></i>
                <span class="headline">Réclamations rejetées</span>
                <span class="value">12</span>
            </div>
        </a>
    </div>
    <br /><br />

    <listfactimpayees></listfactimpayees>
    <listreclencours></listreclencours>
    <listreclrejetees></listreclrejetees>
    <listenotifications></listenotifications>

 <h1>Les branchements</h1>
    <div class="row">
        <table class="table table-hover table-striped">
            <thead>
                <tr class="border-radius border-color">
                    <th class="text-xs-center"> Reference </th>
                    <th class="text-xs-center"> Adresse </th>
                    <th class="text-xs-center">  </th>

                </tr>
            </thead>
            <tbody ng-repeat='branchement in branchements'>
                <tr>
                    <td class="text-xs-center">{{ branchement.reference }}</td>
                    <td class="text-xs-center">{{ branchement.adresse }}</td>
                    <td class="btn btn-info " ng-click="details()">Details</td>
                </tr>

        </table>
    </div>

</div>
