 
<div class="page-header">
    <h1> Historique notifications  </h1>
</div>

<hr />

<div class='row'>
    <div class='col-sm-8'>
        <form class='form-group form-inline'>
            <input class='form-control' ng-model='search' id='search-input' placeholder='Search...' autocomplete='off' type='text'>
        </form>

        <table class="table table-striped">
            <thead>
                <tr>
                    <th class="text-xs-center">Référence</th>
                    <th class="text-xs-center">Classement</th>
                    <th class="text-xs-center">Message</th>
                    <th class="text-xs-center">Lu ou non lu</th>

                </tr>
            </thead>
            <tbody ng-repeat='notification in notifications | filter:search'>
                <tr>
                    <td class="text-xs-center">{{notification.reference}}</td>
                    <td class="text-xs-center">{{notification.classement}}</td>
                    <td class="text-xs-center">{{notification.message}}</td>
                    <td class="text-xs-center">{{notification.etat}}</td>
                </tr>
            </tbody>
        </table>
    </div>
    </div>


    